*{margin:0;padding:0}
body{
	background: rgb(36,0,3);
	background: linear-gradient(90deg, rgba(36,0,3,1) 0%, rgba(228,99,201,1) 20%, rgba(115,113,228,0.5858718487394958) 76%);
	margin:20px auto;
}
.container{
	height:100%;
	margin-top:8%;
}
.card{
	height:370px;
	width:430px;
	background-color: rgba(0,0,0,0.5) !important;
	position:relative;
	margin-top: auto;
	margin-bottom: auto;
}
.card-header h3{
	color:white;
}
#basic-addon1{
	width:50px;
	background-color: #FFC312;
}
.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover{
	color: white;
	cursor: pointer;
}

.card-header h3{
	color: white;
}

.social_icon{
	position: absolute;
	right: 20px;
	top: -45px;
}
.remember{
	color: white;
}
.remember input
{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}
.login_btn{
	background:#FFC312;
	
}
.login_btn:hover{
	background:white;
	transition:0.5s;
	
}
.card-footer p{
	color:white;
	margin-right:2px;
}

